form.marketo-form{
    input[type="text"]{
        width: 220px;
    }
    select{
        border: 1px solid var(--primary-medium);
        background-color: var(--secondary);
    }
    textarea{
        float: left;
    }
    ul{
        margin: 0 0 9px 0px;    
    }
    ul li{
        list-style: none;
        display: flex;
        margin-bottom: 10px;
    }
    label{
        width: 280px;
        display: inline-block;
        
    }
    li.mktFormReq label{
        font-weight: bold;
        background: url($backRequiredGray) no-repeat right 0px;
    }
    span.mktFormMsg {
        color: red;
        padding-left: 10px;
    }
    
}