//download-form - desktop.scss

form.marketo-form{
    width: auto !important;
    font-size: inherit !important;
    
    .mktoFieldWrap {
        display: flex;
        margin-bottom: 9px !important;
        
        label {
            font-weight: bold;
            display: inline-block;
            width: 280px !important;
        }
        
        .mktoError {
            position: static;
            padding-left: 10px;
            .mktoErrorMsg {
                margin-top: 0px;
                max-width: 20em;
                background: unset;
                box-shadow: unset;
                text-shadow: unset;
                border: unset;
                color: red;
                .mktoErrorDetail {
                    display: inline-block;
                }
            }
            .mktoErrorArrow {
                display: none !important;
            }
        }

        input[type="text"], input[type="email"], input[type="tel"], select {
            width: 220px !important;
            line-height: normal !important;
            box-shadow: unset !important;
            padding: 0.5em 0.65em !important;
        }
        input[type=checkbox] {
            width: auto !important;
            height: auto !important;
            opacity: 1 !important;
        }
        input[type=checkbox] + label:before {
            display: none !important;
        }
        select{
            border: 1px solid var(--primary-medium);
            background-color: var(--secondary);
            height: 34px;
        }
        .mktoCheckboxList {
            padding: 0px !important;
            height: 34px;
            width: 220px !important;
        }
        .mktoLogicalField,.mktoLogicalField.mktoInvalid {
            border: unset !important;
        }
    }

    .mktoFieldWrap.mktoRequiredField {
        .mktoAsterix {
            font-weight: bold;
            font-size: 1.6em;
            float: right;
            color: #cb0000;
            display: block;
        }    
    }
    
    .mktoAsterix {
        display: none;
    }
    
    strong {
        font-weight: bold;
    }
    
    .mktoButtonWrap {
        margin-left: 290px !important;
    }
    .mktoButtonWrap button {
        box-sizing: border-box !important;
        display: inline-flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 0 !important;
        padding: 0.53em 0.8em !important;
        border: none !important;
        font-weight: normal !important;
        font-size: 1em !important;
        line-height: normal !important;
        color: var(--primary) !important;
        background: var(--primary-low) !important;
        cursor: pointer !important;
        transition: all 0.25s !important;
        box-shadow: none !important;
    }
    
    .mktoButtonWrap button:hover {
        background: var(--primary-medium) !important;
        color: var(--secondary) !important;
    }
    .mktoButtonWrap button:focus {
        outline: none !important;
    }
    
    textarea{
        float: left;
    }
}
